---
prd:
  enabled: false
  fullnameOverride: "ingress"
  controller:
    image:
      registry: k8s.gcr.io
      image: ingress-nginx/controller
      tag: "v1.2.1"
    service:
      type: "LoadBalancer"
      loadBalancerIP: "TBD"
