---
name: gcfr-destroy
on:
  workflow_dispatch:

jobs:
  gcfr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1

      - name: Terraform init
        id: init
        run: terraform -chdir=infra init -no-color
        env:
            GOOGLE_CREDENTIALS: ${{ secrets.GCFR_GOOGLE_CREDENTIALS }}

      - name: Terraform Destroy
        id: destroy
        run: terraform -chdir=infra destroy -no-color --auto-approve
        env:
            GOOGLE_CREDENTIALS: ${{ secrets.GCFR_GOOGLE_CREDENTIALS }}
