name: gcfr-ingress
on:
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v0
      with:
        credentials_json: ${{ secrets.GCFR_GOOGLE_CREDENTIALS }}

    - name: get-credentials
      uses: google-github-actions/get-gke-credentials@v0
      with:
        cluster_name: gcfr
        location: europe-west3

    - name: Helm download
      run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

    - name: Helm install
      run: |
        helm dependency update applications/ingress/
        helm upgrade -i --create-namespace --namespace ingress -f applications/ingress/values.yaml ingress applications/ingress
