---
name: gcfr-create
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - infra/**
  pull_request:
    branches:
      - main
    paths:
      - infra/**
permissions:
  pull-requests: write
  contents: read

jobs:
  plan:
    uses: g14com0/actions-template/.github/workflows/plan.yml@main
    with:
      environment: gcfr
      pathToPlan: infra/gke
    secrets:
      GOOGLE_CREDENTIALS: ${{ secrets.GCFR_GOOGLE_CREDENTIALS }}

  apply:
    needs: plan
    uses: g14com0/actions-template/.github/workflows/apply.yml@main
    with:
      environment: gcfr
      pathToApply: infra/gke
    secrets:
      GOOGLE_CREDENTIALS: ${{ secrets.GCFR_GOOGLE_CREDENTIALS }}
