name: Deploy
on: ['deployment']

jobs:
  deployment:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v1

    - name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GCFR_GOOGLE_CREDENTIALS }}'

    - name: 'get-credentials'
      uses: 'google-github-actions/get-gke-credentials@v0'
      with:
        cluster_name: 'gcfr'
        location: 'europe-west3'

    - name: 'get-node'
      run: 'kubectl get node'

#    - name: 'Deploy'
#      uses: 'deliverybot/helm@v1'
#      with:
#        release: 'ingress'
#        namespace: 'ingress'
#        chart: 'applications/ingress'
#        token: '${{ github.token }}'
#        values: |
#          name: foobar
#        value-files: >-
#        [
#          "application/ingress/values.yaml"
#        ]